<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated My -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Draughts_Game.presentation.Draughts_GameModelWizardID"
            name="%_UI_Draughts_GameModelWizard_label"
            class="Draughts_Game.presentation.Draughts_GameModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Draughts_GameModelFile.gif">
         <description>%_UI_Draughts_GameModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated My -->
      <editor
            id="Draughts_Game.presentation.Draughts_GameEditorID"
            name="%_UI_Draughts_GameEditor_label"
            icon="icons/full/obj16/Draughts_GameModelFile.gif"
            extensions="draughts_game"
            class="Draughts_Game.presentation.Draughts_GameEditor"
            contributorClass="Draughts_Game.presentation.Draughts_GameActionBarContributor">
      </editor>
   </extension>

</plugin>
